:root {
    /* Dark Blue Gradient */
    --Darkest-Blue: #13294B;
    --Mid-Dark-Blue: #1A355E;
    --Dark-Blue: #214D88;
    --Deep-Blue: #2C6AA9;
    
    /* Black and White */
    --Black: #000000;
    --White: #FFFFFF;
    
    /* Grey Accents */
    --Dark-Grey: #444444;
    --Mid-Grey: #808080;
    --Light-Grey: #CCCCCC;
  }
html
{
    box-sizing: border-box;
    outline: yellowgreen 2px solid;
}
*, *before, *after
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: transparent;
    scroll-behavior: smooth;
    box-sizing: inherit;    
}

body
{
    margin:0;
    padding:0;
    
}
img
{
    max-width: 100%;  

}

/* Header */
header {
    display: flex;
    background-color: var(--Darkest-Blue);
    color: #fff;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 20px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    
}
/* Logo */
.logo
{
    font-family: helev;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 800;
}

nav
{
    justify-content: center;
    align-items: center;
}
#menu-toggle
{
    display: none;
}

.menu-icon
{
    display: none;
    font-size: 2rem;
}
/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2rem;
}
nav ul li:hover
{
    color: var(--Darkest-Blue);
    background-color: var(--White);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section
/* Sections */
{
    height:95vh;
    padding:0px 15px 0px 15px;
    text-align: center;
}

/* Main Content  linear-gradient(to left var(--Darkest-Blue),var(--Light-Grey), */
main {

}

#home
{
    display: flex;
    background-image: linear-gradient(),url(./IMG_3702.JPEG);
    background-size: cover;
    background-position: top right;
    justify-content: center;
    background-repeat: norepeat;
    /*filter: blur(10px); 
     background-image: linear-gradient(to right var(--Darkest-Blue),var(--Mid-Grey)), url(/IMG_3702.JPEG); */
}
.cvdownload
{
    padding: 10px;
}

.cvd
{
    width: 150px;
    height: 50px;
    background-color: var(--White);
    color: var(--Darkest-Blue);
    padding: px;
    /* border-radius: 12px; */
    border: none;
    font-weight: 700;
    border-radius: 80px;
}

.cvd.one
{
    border: 2px solid var(--Darkest-Blue);
}

/* 
.cvd.one:hover
{
    border: 2px solid black;
    background: var(--Darkest-Blue);
    color: var(--White);
} */

.cvd.two
{
    background:var(--Darkest-Blue);
    color: var(--White);
}

/* .cvd.two:hover
{
    background:var(--White);
    color: var(--Darkest-Blue);
    border: 2px solid var(--Darkest-Blue);
} */

.homepaper
{
    position: static;
    width:100%;
    padding: 50px 50px 0px 50px;
    /* background-image: linear-gradient(to bottom,var(--Dark-Grey), var(--Darkest-Blue)),url(/); */
    /* opacity: 20%; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* z-index: -1; */
}

.headtext
{
    font-size: 3.5rem;
    color: var(--Mid-Dark-Blue);
    display: block;
    text-align: center;
}
.headtext span
{
    color: var(--Mid-Grey);
}

.headleft
{
    position: relative;
    width:100%;
    padding: 50px;
}

/* .hgreycircle
{
    display: flex;
    position: relative;
    margin-left: 100px;
    height: 380px;
    width: 380px;
    background-color: var(--Mid-Grey);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.headcircle
{
    display: flex;
    position: relative;
    margin-left: 100px;
    height: 350px;
    width: 350px;
    background-color: var(--Darkest-Blue);
    border-radius: 50%;
    z-index: 1;
    justify-content: center;
    align-items: center;
} */ 

.headpic
{
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%;
    background-image: url(/AJ1.png);
    box-shadow:  0px 5px 20px rgba(0, 0, 0, 0.5); */
}

#about
{
    background-color: var(--Light-Grey);
    color: var(--Darkest-Blue);
    font-size: 1.2rem;
    background-image: url(/IMG_3702.JPEG);
    padding: 0px;
    height: 65vh;
}

#about h2
{
    text-align: center;
}

.abtimg 
{
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* box-shadow: 10px 8px 5px 5px; */
}

.abtcont
{
    display: flex;
    justify-content: space-evenly;
}

.paragraph1
{
    width: 500px;
    padding: 20px 20px 10px 5px ;
    text-align: left;
}


.more
{
    background-color: var(--Darkest-Blue);
    color: var(--White);
    padding:3px;
    margin: 0px 0px 0px 10px;
    border: none;
    width: 80px;
    height: 35px;
}

#services
{
    justify-content: center;
    height: 85vh;
}

.servecont
{
    display: flex;
    justify-content: center;
    outline: #000000 2px solid;
}
.servetop
{
    display: flex;
    width: 700px;
    align-items: center;
    align-content: center;
    justify-items: center;
    outline: #ee0505 2px solid;
}

.servetray
{
    height: 200px;
    padding: 10px 0px 0px 0px;
    outline: #13294B 3px solid;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.serve
{
    outline: #13294B 4px solid;   
    align-content: center;
}
#skills
{
    background-color: var(--Mid-Grey);
    height: auto;
}
/* .cardboard
{
    max-width: 1200px;
    max-height: 1200px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--Dark-Grey);
    color: var(--White);
    display: flex;
    gap: 5px;    
    margin: 0px 20px 0px 5px;
} */

.card
{  
    width: 300px;
    height: 350px;
    border: 2px solid;
    background-color: var(--Dark-Blue);
    color: var(--White);
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
}
.iconf
{
    
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer
{
    background-color: var(--Darkest-Blue);
}





/* Responsive styles for smaller screens */
@media only screen and (max-width: 1080px)
{
    *
    /* {
        overflow-x: hidden;
    } */
    .container {
      width: 90%;
      height: 95vh;
    } 
  
    header
    {
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        padding:0px 20px 0px 20px;
    }

    .logo
    {
        
    }

    .menu-icon
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    left:0px;
}

.menu-icon:hover
{
    font-weight: 900;
    background-color: var(--Mid-Dark-Blue);
}

nav 
    {
      display: none;
      padding: 5px;
    }
  
    nav ul li
    {
      display: none;
      margin: 15px 0;
      height: 35px;
    }
    nav ul li:hover
    {
        background-color: var(--White);
        color: var(--Darkest-Blue);
    }

    .section
    {
       height:85vh;
        /* padding: 10px; */
    }

    #home
    {
        display: block;
        justify-content:center;
        align-items: center;
    }

    .cvdownload
    {
        position: absolute;
        display:flex;
        margin:80px 0px 0px 0px;
        justify-content: center;
    }

    .cvd
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        font-weight: 700;
        margin: 20px 0px 0px 0px;
    }
/* 
    .one
    {
        background-color: transparent;
        border: 2px solid var(--Darkest-Blue);
        color:var(--Darkest-Blue);
    }

    .two
    {
        background-color: var(--Darkest-Blue);
        color:var(--White);
    } */

    .headtext
    {
        font-size: 2.5rem;
        padding-right: 88px;
    }

    .headleft
    {
       padding:0;
    }


    .hgreycircle
    {
        height:300px;
        width: 300px;
        justify-content:center;
        align-items: center;
        margin-right: 155px;
    }

    .headcircle
    {
        position: relative;
        display: flex;
        height:250px;
        width: 250px;
        justify-content: center;
        align-items: center;        
    }

    .headpic
    {
        display: none;
        width: 70%;
        height: 70%;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }

    .abtcont
    {
        display: block;
        padding: 1px;
    }
    .cardboard
    {
        display: block;
        height: auto;
    }
    .card
{
    display: block;
    margin: 10px 0px 10px 60px;   
    width: 200px;
    height: 150px;
    background-color: var(--Dark-Blue);
    color: var(--White);
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
}
    
  }


  @media screen and (max-width: 875px) 
  {
    /* Tablet Styles */
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 18px;
    }

    /* Adjust other elements for tablet */
}

@media screen and (max-width: 770px) {
    
    /* Adjust other elements for desktop */
}

@media (max-width: 700px)
{}

  @media screen and (max-width: 380px) 
  {

  }
